body{
    margin: 0;

    font-size: 1rem;
    width: 100%;
}

footer{
    color:white;
    background-color: black;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    background-color: aliceblue;
}

.main-request-button{
    display: none;
}

.main-header{
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    font-size: 1rem;
    background-size: contain;
    background-position: top right;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



li:hover{
    cursor: pointer;
    border-bottom:2px solid hsl(136, 65%, 51%);
}

.top-section{
    padding-top:10%;
    padding-bottom: 10%;
    text-align: center  ;
}

button{
    background-image: linear-gradient(to right, hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    border: none;
    padding:1rem;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    color:#ffffff;
}

.why-choose-section{
    background-color: rgb(202, 198, 198);
}


.why-choose{
    text-align: center;
    padding: 2rem;
}


.why-choose-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.article-images{
    width:100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.article-header{
    text-align: center;
}

.article-section{
    padding: 2rem;
    background-color: #ebe3e3;
}

.article-container{
    background-color: #ffffff;
    border-radius: 2rem;
    margin-bottom: 5%;
}

.article-content-container{
    padding:5%; 
}


ul{
    list-style: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.media{
    display: flex;
}

.request-footer{
    margin-left:2.2rem;
}
.image-mockups{
    height: 20rem;
}


@media (min-width:1200px){
    .navigation{
        padding: 1%;
    }

    .main-header{
        background-image: url("./images/bg-intro-desktop.svg");
        background-position: top right;
        background-size: 50%;
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0px;
        justify-content: space-between;
        width:100%;
    }

    .top-section{
        padding: 2%;
        margin-top: 8%;
        width: 40%;
    }

    .main-request-button{
        display: block;
    }

    .why-choose{
        padding-top: 2%;
        padding-bottom: 0px;
        margin-left: 4.5%;
        text-align: start;
    }

    .why-choose-content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        width: 90%;
        margin: auto;
    }
    .choose{
        margin: 2%;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .artcles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .article-container{
        width: 20%;
    }
    .article-header{
        text-align: start;
        margin-left: 3%;
    }
    .image-mockups{
        height: 40rem;
        width: 100%;
    }
}













.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width:1rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: rgb(19, 17, 17);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 50%;
      color: rgb(243, 235, 235);
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }